/* font Lobster */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navigation {
    padding: 15px 20;
}

.navbar-main-link {
    font-family: 'Lobster', cursive;
    text-decoration: none;
    color: rgb(255, 104, 58);
}

.navbar-main-link:hover {
    color: rgb(255, 104, 58);
}

.navbar-main-link h1 {
    margin: 0px;
}

.navbar-links {
    display: flex;
}

.navbar-links a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin: 0px 10px;
}

.navbar-links a:hover {
    color: rgb(48, 155, 255);
}

.button-navbar-signup {
    background-color: rgb(48, 155, 255);
    color: white;
    border: 1px solid rgb(48, 155, 255);
}

/*-----------------
media-query section
------------------*/

@media only screen and (min-width: 300px) and (max-width: 991px) {
    .navbar-image {
        display: flex;
        justify-content: center;
    }

    .navbar-image img {
        width: 15%;
    }

    .navbar-name {
        text-align: center;
        margin: 0px !important;
    }

    .navbar-signout {
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }

    .navbar-links {
        display: block;
    }

    .navbar-links a {
        margin: 5px;
        display: flex;
        justify-content: center;
    }

    .navbar-button-group {
        padding-top: 1px;
        display: block;
    }

    .navbar-button-group a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        margin: 5px 0px;
    }

    .button-navbar-signup {
        margin: 0px !important;
    }
}