@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#footer {
    background-color: black;
    padding: 40px 0px;
}

.social {
    padding-bottom: 40px;
    text-align: center;
}

.social h1 {
    font-family: 'Lobster', cursive;
    color: rgb(255, 104, 58);
}

.social-links a {
    margin: 0px 15px;
}

.social-links img {
    width: 30px;
}

.footer-navigation {
    display: flex;
    justify-content: center;
}

.footer-links {
    padding: 20px;
    margin-bottom: 40px;
    margin: 0px 20px 20px 20px;
    text-align: center;
}

.footer-links p {
    color: gray;
    font-family: 'Roboto', sans-serif;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.copyright {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-align: center;
    color: gray;
    margin-bottom: 0px;
}