/* font Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* font Bebas Neue */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.services {
    margin: 50px 0px;
}

.services h2 {
    text-align: center;
    margin: 50px;
    font-family: 'Roboto', sans-serif;
}

.services-programs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: center;
    margin: 0px 40px;
}

.services-programs img {
    width: 100%;
    border-radius: 9px;
}

.services-programs p {
    font-family: 'Roboto', sans-serif;
}

.programs {
    border-radius: 10px;
    height: 500px;
    box-shadow: 0px 0px 0px rgba(61, 181, 255, 0.866) inset, 0px 0px 1px 5px rgba(74, 185, 255, 0.519);

}

.program-one {
    background-image: url('../../../images/services/service-1.jpg');
    background-size: cover;
}

.program-one h4 {
    background-color: rgba(255, 255, 255, 0.682);
    border-radius: 5px;
}

.program-two {
    background-image: url('../../../images/services/service-2.jpg');
    background-size: cover;
}

.program-two h4 {
    background-color: rgba(255, 255, 255, 0.682);
    border-radius: 5px;
}

.program-three {
    background-image: url('../../../images/services/service-3.jpg');
    background-size: cover;
}

.program-three h4 {
    background-color: rgba(255, 255, 255, 0.682);
    border-radius: 5px;
}

.program-four {
    background-image: url('../../../images/services/service-4.jpg');
    background-size: cover;
}

.program-four h4 {
    background-color: rgba(255, 255, 255, 0.682);
    border-radius: 5px;
}

.program-five {
    background-image: url('../../../images/services/service-5.jpg');
    background-size: cover;
}

.program-five h4 {
    background-color: rgba(255, 255, 255, 0.682);
    border-radius: 5px;
}

.program-six {
    background-image: url('../../../images/services/service-6.jpg');
    background-size: cover;
}

.program-six h4 {
    background-color: rgba(255, 255, 255, 0.682);
    border-radius: 5px;
}

.programs-info {
    padding: 15px;
}

.programs-info h4 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

.programs-info p {
    margin: 0px;
}

.program-description {
    margin-top: 205px;
    width: 70%;
    margin-bottom: 15px;
    font-family: 'Bebas Neue', cursive;
    background-color: rgba(255, 255, 255, 0.682);
    border-radius: 5px;
    font-weight: bolder;
    padding: 5px 0px;
}

.program-price {
    color: white;
    background-color: rgba(240, 34, 34, 0.797);
}

.services-button {
    background-color: rgb(48, 155, 255);
    font-weight: bold;
    color: white;
    width: 100%;
    padding: 10px 0px;
}

/*-----------------
media-query section
------------------*/

@media only screen and (min-width: 993px) and (max-width: 1067px) {
    .programs-info h4 {
        font-size: 35px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .services-programs {
        grid-template-columns: repeat(2, 1fr);
    }

    .program-description {
        width: 80%;
    }
}

@media only screen and (min-width: 300px)and (max-width: 992px) {
    .programs-info h4 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    .services {
        margin: 25px 10px;
    }

    .services h2 {
        margin: 25px;
    }

    .services-programs {
        grid-template-columns: repeat(1, 1fr);
        margin: 0px 10px;
    }

    .program-description {
        margin-top: 215px;
    }
}