.button-carousel {
    background-color: rgb(48, 155, 255);
    color: white;
    font-weight: bold;
}

.button-carousel a {
    text-decoration: none;
    color: white;
}

.button-carousel a:hover {
    color: black;
}